*
{
  font-family:popins;
}
.label
{
	font-size:25px;
	
}
h1
{
	font-family:algerian;
	color:crimson;
}
.page
{
	
	background-color:white;
	height:930px;
	width:90%;
	margin-left:5%;
	margin-bottom:5%;
}
form
{
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	
}
.error
{
	color:red;
}