h1{
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-size: 45px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    font-size: 20px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.price{
    font-size: 30px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
input[type=submit]{
    margin: 20px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.button{
    margin: 20px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
 button .a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
button .a:hover{
    color: peachpuff;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    align-self: center;
    background-image: linear-gradient(lightblue,pink);
    margin: 120px;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.img{
    margin-left: 80px;
    margin-bottom: 20px;
    align-items: center;
    height: 450px;
    width: 400px;
}


